@import "base/mixins";
@import "base/variables";
@import "base/fonts";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gilroy', sans-serif;
    background: #01141A;
}

.container {
    width: 100%;
    padding: 0px 150px;
    position: relative;
}


@import "blocks/main";
@import "blocks/footer";
@import "blocks/media";